{
  "presets": ["@babel/preset-env", "@babel/preset-flow", "@babel/preset-stage-0", "@babel/preset-react"],
  "retainLines": true,
  "plugins": [
    "react-hot-loader/babel",
    "babel-plugin-add-module-exports",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "~": "./",
          "@": "./app/server",
          "-": "./app/client"
        }
      }
    ]
  ]
}
