{
  "presets": [
    "env",
    "react",
    "flow",
    "stage-0"
  ],
  "retainLines": true,
  "plugins": [
    "react-hot-loader/babel",
    "add-module-exports", [
      "babel-plugin-root-import", [{
          "rootPathPrefix": "@",
          "rootPathSuffix": "app/server"
        },
        {
          "rootPathPrefix": "~",
          "rootPathSuffix": "./"
        }
      ]
    ]
  ]
}
