{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "extends": "airbnb",
  "rules": {
    "no-underscore-dangle": 0,
    "no-mixed-operators": 0,
    "comma-dangle": [1, "never"],
    "arrow-parens": [1, "as-needed", { "requireForBlockBody": true }],
    "linebreak-style": 0,
    "global-require": 0,
    "no-unused-vars": [1, {"args": "none"}],
    "func-names": 0,
    "jsx-a11y/href-no-hash": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0
  }
}
