{
  "semi": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "parser": "babylon",
  "printWidth": 100,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.graphql",
      "options": {
        "parser": "graphql"
      }
    }
  ]
}
