@import 'variables';

.todo__container {
  font-family: Helvetica;
  font-size: 0.9rem;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-row: 1fr 1fr;
}

.todo__item-remove {
  cursor: pointer;
  font-size: 26px;
  color: $danger;
  background: transparent;
  display: none;
  padding: 0;
  right: 12px;
  line-height: 10px;
  top: 12px;
  width: 18px;
  height: 13px;
  margin-right: 10px;
}

.todo__item-toggle {
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: 1px solid $disable;
  margin-right: 5px;
  -webkit-appearance: none;

  &:checked {
    &::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="20 2 100 135"><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
    }
  }
}

.todo__list {
  position: relative;
  grid-column: 2;
  list-style: none;
  margin: 10px 0;
}

.todo__item {
  display: flex;
  align-items: center;
  background: white;
  padding: 10px;
  border-top-width: 0;
  position: relative;
  margin-bottom: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  &:first-child {
    border-top-width: 1px;
  }

  &:hover {
    .todo__item-remove {
      display: block;
    }
  }
}

.todo__item-title {
  padding-left: 5px;
  flex: 1;
}

.todo__form {
  grid-column: 2;
  grid-row: 2;
}

.todo__form-input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid $color-disable;
  padding: 10px;
  background: transparent;
}

.todo__form-error {
  padding: 10px 0;
  display: block;
  color: $danger;
  font-size: 0.8em;
  text-align: right;
}
